<form id="tweet" method="get">
    <input type="text" name = "tweetcontents" value= "" 
           placeholder="Write your tweet here">
    <input type="submit" name = "submit" value= "Tweet"  >
    </form>  