<html>
    <head>
        <title>Change User Data</title>title>
        <link rel="stylesheet" type="text/css" href="style/table.css"/>
    </head>
    <body>
        <p>I hate this page</p>
    </body>
</html>