<!DOCTYPE html>
<html>
  <head>
    <TITLE>Login page</TITLE>
    <link rel="stylesheet" type="text/css" href="style/table.css"/>
      <link rel="stylesheet" type="text/css" href="style/login.css"/>
  </head>
  <body>
      
     <div id="loginbuttontop">
              <%= erb :button_home %>     
      </div>
      
      
     <div id="loginform">
      <%if @just_logged_out%>
          <p style = "color:green">Succesfully logged out!</p>
      <%end%>
      
      <%if !@all_ok && @submitted%>
      <p style = "color:red"> Invalid twitter handle or password</p>
      <%end%>
      
      <form id="login" method = 'post' action= /login_form_handler>
          <input type = 'text' name = 'twitter_handle' placeholder="Twitter handle: " >
          <input type = 'password' name = 'password' placeholder = "Password: "> <br>
          <input type = 'submit' name = 'submit' value = 'submit'>
      </form>
      
      <p>Don't have an account?</p>
      <a href = '/register'>register</a>
       </div>
  </body>
</html>